
#skills {
  padding: 6rem;
}

.skills-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #e0e0e0;
  text-align: center;
}

.skill-paragraph {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #b4a0f4;
}

.skills-content {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
}

.skill {
  background-color: #0F0F3E;
  background-image: linear-gradient(135deg, #0F0F3E 0%, #4B0082 50%, #7B4DAE 100%);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.skill h3 {
  font-size: 1.2rem;
  color: #b4a0f4;
  margin: 0;
}

.skill img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.skill:hover {
  background-color: #39214e;
  transform: scale(1.05);
}


@media (max-width: 1200px) {
  .skills-content {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 992px) {
  .skills-content {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .skills-title {
    font-size: 2.5rem;
  }

  .skill-paragraph {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .skills-content {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .skills-title {
    font-size: 2rem;
  }

  .skill-paragraph {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .skills-content {
    grid-template-columns: 1fr; 
  }
}

